<nav class="main-nav">
  <a href="http://127.0.0.1:5000/"
    ><img class="main-nav__brand" src="../static/biohazard.svg" alt="app logo"
  /></a>
  <div class="main-nav__links">
    <a href="http://127.0.0.1:5000/newpatient" class="main-nav__links--link">Add a Patient</a>
  </div>
  <div class="main-nav__links">
    <a href="http://127.0.0.1:5000/newscan" class="main-nav__links--link">Add a Scan</a>
  </div>
  <div class="main-nav__links">
    <a href="http://127.0.0.1:5000/search" class="main-nav__links--link">Search</a>
  </div>
  <button class="main-nav__btn">
    <a href="http://127.0.0.1:5000/logout">
      <span class="main-nav__btn--span">Logout</span></a 
    >
  </button>
</nav>
