<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
    rel="stylesheet"
  />  
  <link rel="stylesheet" href="../static/styles/main.css">
    <title>Clinic </title>
</head>

<body>
{% include 'includes/_navbar.html' %}
{% block body %}

<div class="content">
  <main class="main">
    <h2 style="text-align: center">
      {% with messages = get_flashed_messages(with_categories=false) %} {% if
      messages %} {% for m in messages %} {{ m }} {% endfor %} {% endif %} {%
      endwith %}
    </h2>
    <form
      id="form"
      class="form"
      action="/admin"
      ,
      method="POST"
    >
      <h2>Register a Staff Member</h2>
      <div class="form-control">
        <label for="fname">First name:</label>
        <input
          class="fname"
          type="text"
          name="fname"
          placeholder=" First name"
           required
        />
        <label for="Lname">Last Name:</label>
        <input
          class="lname"
          type="text"
          name="Lname"
          placeholder=" Last Name"
           required
        />
        </div>
      <div class="form-control">
        <label for="doctor username">Username: </label>
        <input type="text" name="username" placeholder=" Username" required />
        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password"  required/>
      </div>
      <div class="form-control">
        <button class="btn" type="submit" style="width: 97%;">Register</button>
      </div>
    </form>
  </main>
  {% endblock %}
</div>
</body>
</html>