<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600"
    rel="stylesheet"
  />  
  <link rel="stylesheet" href="../static/styles/main.css">
    <title>Clinic </title>
</head>

<body>

{% include 'includes/_navbar.html' %}
{% block body %}
<div class="content">
 <main class="main">
    <h2 style='text-align:center'>{% with messages = get_flashed_messages(with_categories=false) %}
        {% if messages %}
            {% for m in messages %}
             {{ m }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    </h2>
    <form id="form" class="form" method='POST' action='/newpatient'>
      <h2>Add a New Patient</h2>
      <div class="form-control">
        <label>First Name</label>
        <input type='text' name = 'fname' placeholder='Ex: Ahmed'  required/>
        <label>Middle Name</label>
        <input type='text' name = 'minit' placeholder='Ex: Mohamed'  required/>
        <label>Last Name</label>
        <input type='text' name = 'lname' placeholder='Ex: Gamal'  required/>
      </div>
      <div class="form-control">
        <label>Gender</label>
        <select name="gender" style="width: 80%;">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
        <label>Birth Date</label>
        <input type='date' name = 'bdate' required/>
      </div>
      <div class="form-control">
        <label>Address</label>
        <input type='text' name = 'address' placeholder='Ex: 123 Hello Street' style="width:200%" required/>
      </div>
      <div class="form-control">
        <button class="btn" type="submit">Add Patient</button>
      </div>
    </form>
 </main>
 {% endblock %}

</div>

</div>
<script src="../index.js"></script>
</body>
</html>