<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles/main.css" />
    <script
      src="https://kit.fontawesome.com/22f2559e15.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.76/dist/themes/light.css"
    />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.76/dist/shoelace.js"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <nav class="navigation">
        <ul>
          <li class="nav-item">
            <i class="fa-solid fa-user-plus"></i
            ><a href="/newpatient">Add Patient</a>
          </li>
          <li class="nav-item">
            <i class="fa-solid fa-briefcase-medical"></i
            ><a href="/exam">Add Examination</a>
          </li>
          <li class="nav-item">
            <i class="fa-solid fa-file-waveform"></i
            ><a href="/addscan">Add Scan</a>
          </li>
          <li class="nav-item active">
            <i class="fa-solid fa-magnifying-glass"></i><a href="#">Search</a>
          </li>
        </ul>
      </nav>
      <main class="main-content">
        <form id="form" class="form" method="POST" action="/exam">
          <div class="content-header">
            <h2>Search for patient by name</h2>
            <div class="relative">
              <input required id="input-name" name="input-name" type="text" />
              <ul class="suggested-names"></ul>
            </div>
            <h2>Or by ID</h2>
            <input
              required
              id="input-id"
              name="input-id"
              step="1"
              type="number"
            />
          </div>
          <div class="form-main"></div>
          <div class="button-div show">
            <span class="btn btn-span">Show</span>
          </div>
          <div class="name-row button-div hidden back">
            <span class="btn btn-span">Back</span>
            <button type="submit" class="btn btn-button">Continue</button>
          </div>
        </form>
      </main>
    </div>

    <script type="module" src="../static/scripts/search.js"></script>
  </body>
</html>
